._form-spaces {
  background: #fff;
  // margin-top: 2em;
  margin-bottom: 1em;
  padding: 2%;
  // min-width: 700px;

  h1 {
    font-size: 32px;
    display: block;
    text-align: center;
    margin-bottom: 1em;
  }
  .MuiFormLabel-root.Mui-focused {
    color: rgb(211, 73, 150) !important;
  }

  .MuiFilledInput-underline.Mui-focused::after {
    border-bottom: 2px solid rgb(211, 73, 150) !important;
  }

  .MuiInput-underline.Mui-focused::after {
    border-bottom: 2px solid rgb(211, 73, 150) !important;
  }

  ._buttons_space {
    display: flex;
    justify-content: center;

    ._return_button.MuiButton-root {
      margin-top: 24px;
      margin-left: 8px;
      color: #000;
      &:not(:disabled):hover {
        background-color: rgba(211, 73, 150, 0.04);
      }
    }

    ._continue_button.MuiButton-root {
      margin-top: 24px;
      margin-left: 8px;
      background-color: rgb(211, 73, 150);
      &:disabled {
        color: rgba(0, 0, 0, 0.26);
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.12);
      }
      &:not(:disabled):hover {
        background-color: rgba(211, 73, 150, 0.8);
      }
    }
  }

  // .makeStyles-wrapper-5 {
  //   .MuiButton-root {
  //     background-color: rgb(211, 73, 150);

  //     &:disabled {
  //       color: rgba(0, 0, 0, 0.26);
  //       box-shadow: none;
  //       background-color: rgba(0, 0, 0, 0.12);
  //     }
  //     &:not(:disabled):hover {
  //       background-color: rgba(211, 73, 150, 0.8);
  //     }
  //   }
  // }
}

._simulation-container {
  display: flex;
  height: 100vh;
  width: auto;
  align-items: center;
  gap: 2.5em;
  flex-direction: column;

  ._eliminar-x::before {
    content: '×';
    font-size: 20px;
    color: #e72c67;
    margin-bottom: 2px;
  }

  ._titular-space {
    position: absolute;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 36px;

    strong {
      align-items: center;
      display: inline-flex;
      padding: 15px 0px;
      margin-top: -13px;
    }
  }

  ._simulation_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1,
    ._value {
      color: rgb(211, 73, 150) !important;
    }
    h1 {
      margin-bottom: 1rem;
      font-size: 50px;
    }
    p {
      font-size: 12px;
      text-align: left;
    }
    span {
      text-align: left;
    }

    ._simulation_table {
      border-radius: 25px;
      table {
        background-color: rgb(211, 73, 150) !important;
        color: #fff !important;
        border-radius: 1px;
        th,
        td {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
